<nav class="navigation">
    <div class="container flex">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" draggable="false" alt="FIA Rental">
            </a>
        </div>
        <div class="menu">
            <a href="#" class="selected">მთავარი</a>
            <a href="#">ჩვენს შესახებ</a>
            <a href="#">კონტაქტი</a>
            <a href="#">
                <button class="btn">დაწყება</button>
            </a>
        </div>
    </div>
</nav>